<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    
    {{#if user}}
    <p>Hola, {{user.first_name}} {{user.last_name}}</p>
      {{>profile}}
    {{else}}
      <a href="/api/sessions/login">Log In to buy</a>
      <a href="/api/sessions/register">Register</a>
    {{/if}}


    {{>products}}
   

  </body>
</html>