<form method="POST" action="/api/sessions/login">
    <label for="email">Email</label>
    <input type="email" name="email" required>
    <label for="password">Password</label>
    <input type="password" name="password" required>
    <button type="submit">Log In</button>
    <p>Not an user?</p>
    <button><a href="/api/sessions/register">Create an account</a>
    <button><a href="/api/sessions/github">Log in with GitHub</a></button>
</button>
</form>