
<div class="formsContainer">
<form class="form"  method="POST" action="/api/sessions/passrecover/{{token}}">
    <label for="newPassword">New password</label>
    <input class="input" type="password" name="password" required>
    <button class="btn btnproceed" type="submit">Recover password</button>

</button>
</form>
</div>