
<div class="formsContainer">
<form class="form"  method="POST" action="/api/sessions/sendrecoveryemail">
    <label for="email">Verify your email</label>
    <input class="input" type="email" name="email" required>
    <button class="btn btnproceed" type="submit">Send recovery email</button>

</form>
</div>